com.ceteva.xmf/Languages/Wizard/Wizard.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by XMLSPY 5 Professional Ed. Release 2, Installed Multi for 4 users (CSC) -->
<!--DTD generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->

<!ELEMENT GenericGuiSchema (FORM?, TREE?, PULLDOWN_MENU?, TOOLBAR?)>

<!ELEMENT FORM (TABLE?, TEXTBOX*, DROPDOWN*, CHECKBOX*, RADIO_BUTTON*, BUTTON*, LABEL*)>
<!ATTLIST FORM
	Id ID #IMPLIED
	Name CDATA #REQUIRED
>
<!ELEMENT TREE (TREE_NODE+)>
<!ATTLIST TREE
	Id ID #IMPLIED
>
<!ELEMENT PULLDOWN_MENU (PULLDOWN_MENU_ITEM+, PULLDOWN_MENU_DIVIDER*)>
<!ATTLIST PULLDOWN_MENU
	Id ID #IMPLIED
>
<!ELEMENT TOOLBAR (TOOLBAR_ITEM+, TOOLBAR_DIVIDER*)>
<!ATTLIST TOOLBAR
	Id ID #IMPLIED
>
<!ELEMENT TABLE (TABLE_COLUMN)>
<!ATTLIST TABLE
	Id ID #IMPLIED
	Name CDATA #REQUIRED
	Is_Readonly CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
>
<!ELEMENT TEXTBOX (#PCDATA)>
<!ATTLIST TEXTBOX
	Id ID #IMPLIED
	STYLE (TEXT_FIELD | RICH_TEXT_AREA) #REQUIRED
	Is_Readonly CDATA #REQUIRED
	Tooltip CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
	Gives_Report CDATA #REQUIRED
	Value CDATA #REQUIRED
>
<!ELEMENT DROPDOWN (DROPDOWN_OPTION+)>
<!ATTLIST DROPDOWN
	Id ID #IMPLIED
	Is_Readonly CDATA #REQUIRED
	Tooltip CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
	Gives_Report CDATA #REQUIRED
	Value CDATA #REQUIRED
>
<!ELEMENT CHECKBOX (#PCDATA)>
<!ATTLIST CHECKBOX
	Id ID #IMPLIED
	Text CDATA #REQUIRED
	Is_Readonly CDATA #REQUIRED
	Tooltip CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
	Gives_Report CDATA #REQUIRED
	Value CDATA #REQUIRED
>
<!ELEMENT RADIO_BUTTON (#PCDATA)>
<!ATTLIST RADIO_BUTTON
	Id ID #IMPLIED
	Text CDATA #REQUIRED
	Is_Readonly CDATA #REQUIRED
	Tooltip CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
	Gives_Report CDATA #REQUIRED
	Value CDATA #REQUIRED
>
<!ELEMENT BUTTON (#PCDATA)>
<!ATTLIST BUTTON
	Id ID #IMPLIED
	Text CDATA #REQUIRED
	Icon_Filepath CDATA #REQUIRED
	Icon_Alignment (BOTTOM_LEFT | BOTTOM_CENTER | BOTTOM_RIGHT | MIDDLE_LEFT | MIDDLE_CENTER | MIDDLE_RIGHT | TOP_LEFT | TOP_CENTER | TOP_RIGHT) #IMPLIED
	Is_Readonly CDATA #REQUIRED
	Tooltip CDATA #REQUIRED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
	Gives_Report CDATA #REQUIRED
>
<!ELEMENT LABEL (#PCDATA)>
<!ATTLIST LABEL
	Id ID #IMPLIED
	Text CDATA #REQUIRED
	Icon_Filepath CDATA #REQUIRED
	Icon_Alignment (BOTTOM_LEFT | BOTTOM_CENTER | BOTTOM_RIGHT | MIDDLE_LEFT | MIDDLE_CENTER | MIDDLE_RIGHT | TOP_LEFT | TOP_CENTER | TOP_RIGHT) #IMPLIED
	X_Position CDATA #IMPLIED
	Y_Position CDATA #IMPLIED
	X_Size CDATA #IMPLIED
	Y_Size CDATA #IMPLIED
>
<!ELEMENT TREE_NODE (#PCDATA)>
<!ATTLIST TREE_NODE
	Id ID #REQUIRED
	Text CDATA #REQUIRED
	ref_TREE_NODE CDATA #IMPLIED
	Icon_Filepath CDATA #REQUIRED
	Is_Expanded CDATA #REQUIRED
	Gives_Report CDATA #REQUIRED
>
<!ELEMENT PULLDOWN_MENU_ITEM (#PCDATA)>
<!ATTLIST PULLDOWN_MENU_ITEM
	Id ID #REQUIRED
	Text CDATA #REQUIRED
	ref_PULLDOWN_MENU_ITEM IDREF #IMPLIED
	Is_Readonly CDATA #REQUIRED
	Gives_Report CDATA #REQUIRED
>
<!ELEMENT PULLDOWN_MENU_DIVIDER EMPTY>
<!ATTLIST PULLDOWN_MENU_DIVIDER
	Id ID #IMPLIED
	ref_PULLDOWN_MENU_ITEM IDREF #REQUIRED
>
<!ELEMENT TOOLBAR_ITEM EMPTY>
<!ATTLIST TOOLBAR_ITEM
	Id ID #IMPLIED
	Icon_Filepath CDATA #REQUIRED
	Is_Readonly CDATA #IMPLIED
	Tooltip CDATA #REQUIRED
	Gives_Report CDATA #REQUIRED
>
<!ELEMENT TOOLBAR_DIVIDER EMPTY>
<!ATTLIST TOOLBAR_DIVIDER
	Id ID #IMPLIED
	ref_TOOLBAR_ITEM IDREF #REQUIRED
>
<!ELEMENT TABLE_COLUMN (TABLE_COLUMN_CELL*, TABLE_DROPDOWN_OPTION+)>
<!ATTLIST TABLE_COLUMN
	Id CDATA #IMPLIED
	Name CDATA #REQUIRED
	Width CDATA #REQUIRED
	Is_Readonly CDATA #REQUIRED
	Gives_Report CDATA #REQUIRED
>
<!ELEMENT DROPDOWN_OPTION EMPTY>
<!ATTLIST DROPDOWN_OPTION
	Id ID #IMPLIED
	Display_Member CDATA #REQUIRED
	Value_Member CDATA #REQUIRED
>
<!ELEMENT TABLE_COLUMN_CELL EMPTY>
<!ATTLIST TABLE_COLUMN_CELL
	Id ID #IMPLIED
	Value CDATA #REQUIRED
>
<!ELEMENT TABLE_DROPDOWN_OPTION EMPTY>
<!ATTLIST TABLE_DROPDOWN_OPTION
	Id ID #IMPLIED
	Display_Member CDATA #REQUIRED
	Value_Member CDATA #REQUIRED
>
